/* You can add global styles to this file, and also import other style files */
html{
  width: 100%;
  height: 100%;
}

body{
  width: 100%;
  height: 100%;
  background-color: #153a7d;
}

.safeKeeping{
  background-image: linear-gradient(to bottom right,#0d0b0b,#1b2840,#153a7d,#003594);
}
